RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

#################################### ALL FOR DEVELOPER #################################


### PRODUCT ###
RewriteRule ^product$ controllers/developer/product/product.php [L]
RewriteRule ^product/([0-9]+)$ controllers/developer/product/product.php?productid=$1 [L]
RewriteRule ^product/active/([0-9]+)$ controllers/developer/product/active.php?productid=$1 [L]
RewriteRule ^product/page/([0-9]+)$ controllers/developer/product/page.php?start=$1 [L]
RewriteRule ^product/search$ controllers/developer/product/search.php [L]
RewriteRule ^product/read-all-category$ controllers/developer/product/read-all-category.php [L]
 
### CATEGORY ###
RewriteRule ^category$ controllers/developer/category/category.php [L]
RewriteRule ^category/([0-9]+)$ controllers/developer/category/category.php?categoryid=$1 [L]
RewriteRule ^category/active/([0-9]+)$ controllers/developer/category/active.php?categoryid=$1 [L]
RewriteRule ^category/page/([0-9]+)$ controllers/developer/category/page.php?start=$1 [L]
RewriteRule ^category/search$ controllers/developer/category/search.php [L]
 
### SUPPLIER ###
RewriteRule ^supplier$ controllers/developer/supplier/supplier.php [L]
RewriteRule ^supplier/([0-9]+)$ controllers/developer/supplier/supplier.php?supplierid=$1 [L]
RewriteRule ^supplier/active/([0-9]+)$ controllers/developer/supplier/active.php?supplierid=$1 [L]
RewriteRule ^supplier/page/([0-9]+)$ controllers/developer/supplier/page.php?start=$1 [L]
RewriteRule ^supplier/search$ controllers/developer/supplier/search.php [L]

### RECEIVING ###
RewriteRule ^receiving$ controllers/developer/receiving/receiving.php [L]
RewriteRule ^receiving/([0-9]+)$ controllers/developer/receiving/receiving.php?receivingid=$1 [L]
RewriteRule ^receiving/active/([0-9]+)$ controllers/developer/receiving/active.php?receivingid=$1 [L]
RewriteRule ^receiving/page/([0-9]+)$ controllers/developer/receiving/page.php?start=$1 [L]
RewriteRule ^receiving/search$ controllers/developer/receiving/search.php [L]
RewriteRule ^receiving/read-all-supplier$ controllers/developer/receiving/read-all-supplier.php [L]
RewriteRule ^receiving/read-all-product$ controllers/developer/receiving/read-all-product.php [L]
RewriteRule ^receiving/read-all-unit$ controllers/developer/receiving/read-all-unit.php [L]
 
### RECEIVING SUPPLY ###
RewriteRule ^receiving-supply$ controllers/developer/receiving-supply/receiving-supply.php [L]
RewriteRule ^receiving-supply/([0-9]+)$ controllers/developer/receiving-supply/receiving-supply.php?receivingsupplyid=$1 [L] 
RewriteRule ^receiving-supply/read-new-receive$ controllers/developer/receiving-supply/read-new-receive.php [L]
RewriteRule ^receiving-supply/active/([0-9]+)$ controllers/developer/receiving-supply/active.php?receivingsupplyid=$1 [L]
RewriteRule ^receiving-supply/update-received-supply/([0-9]+)$ controllers/developer/receiving-supply/update-received-supply.php?receivingsupplyid=$1 [L]

### RECEIVING SUPPLY ###
RewriteRule ^settings-unit$ controllers/developer/settings/unit/unit.php [L]
RewriteRule ^settings-unit/([0-9]+)$ controllers/developer/settings/unit/unit.php?unitid=$1 [L]
RewriteRule ^settings-unit/active/([0-9]+)$ controllers/developer/settings/unit/active.php?unitid=$1 [L]

### DEFECTIVE SUPPLY ###
RewriteRule ^defective-product$ controllers/developer/defective-product/defective-product.php [L]
RewriteRule ^defective-product/([0-9]+)$ controllers/developer/defective-product/defective-product.php?defectiveproductid=$1 [L]
RewriteRule ^defective-product/active/([0-9]+)$ controllers/developer/defective-product/active.php?defectiveproductid=$1 [L]
RewriteRule ^defective-product/page/([0-9]+)$ controllers/developer/defective-product/page.php?start=$1 [L]
RewriteRule ^defective-product/search$ controllers/developer/defective-product/search.php [L]
   
### RETURN PRODUCT ###
RewriteRule ^return-product$ controllers/developer/return-product/return-product.php [L]
RewriteRule ^return-product/([0-9]+)$ controllers/developer/return-product/return-product.php?returnproductid=$1 [L]
RewriteRule ^return-product/active/([0-9]+)$ controllers/developer/return-product/active.php?returnproductid=$1 [L]
RewriteRule ^return-product/page/([0-9]+)$ controllers/developer/return-product/page.php?start=$1 [L]
RewriteRule ^return-product/search$ controllers/developer/return-product/search.php [L]
   
### RETURN PRODUCT ###
RewriteRule ^inventory$ controllers/developer/inventory/inventory.php [L]
RewriteRule ^inventory/([0-9]+)$ controllers/developer/inventory/inventory.php?inventoryid=$1 [L] 
RewriteRule ^inventory/page/([0-9]+)$ controllers/developer/inventory/page.php?start=$1 [L]
RewriteRule ^inventory/search$ controllers/developer/inventory/search.php [L]

### CUSTOMER ###
RewriteRule ^customer$ controllers/developer/customer/customer.php [L]
RewriteRule ^customer/([0-9]+)$ controllers/developer/customer/customer.php?customerid=$1 [L]
RewriteRule ^customer/active/([0-9]+)$ controllers/developer/customer/active.php?customerid=$1 [L]
RewriteRule ^customer/page/([0-9]+)$ controllers/developer/customer/page.php?start=$1 [L]
RewriteRule ^customer/search$ controllers/developer/customer/search.php [L]
 
### MODAL SEARCH ### 
RewriteRule ^search-product$ controllers/developer/search/search-product.php [L] 
RewriteRule ^search-supplier$ controllers/developer/search/search-supplier.php [L] 




