RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

#################################### ALL FOR DEVELOPER #################################


### PRODUCT ###
RewriteRule ^product$ controllers/developer/product/product.php [L]
RewriteRule ^product/([0-9]+)$ controllers/developer/product/product.php?productid=$1 [L]
RewriteRule ^product/active/([0-9]+)$ controllers/developer/product/active.php?productid=$1 [L]
RewriteRule ^product/page/([0-9]+)$ controllers/developer/product/page.php?start=$1 [L]
RewriteRule ^product/search$ controllers/developer/product/search.php [L]
RewriteRule ^product/read-all-category$ controllers/developer/product/read-all-category.php [L]
 
### CATEGORY ###
RewriteRule ^category$ controllers/developer/category/category.php [L]
RewriteRule ^category/([0-9]+)$ controllers/developer/category/category.php?categoryid=$1 [L]
RewriteRule ^category/active/([0-9]+)$ controllers/developer/category/active.php?categoryid=$1 [L]
RewriteRule ^category/page/([0-9]+)$ controllers/developer/category/page.php?start=$1 [L]
RewriteRule ^category/search$ controllers/developer/category/search.php [L]
 
### SUPPLIER ###
RewriteRule ^supplier$ controllers/developer/supplier/supplier.php [L]
RewriteRule ^supplier/([0-9]+)$ controllers/developer/supplier/supplier.php?supplierid=$1 [L]
RewriteRule ^supplier/active/([0-9]+)$ controllers/developer/supplier/active.php?supplierid=$1 [L]
RewriteRule ^supplier/page/([0-9]+)$ controllers/developer/supplier/page.php?start=$1 [L]
RewriteRule ^supplier/search$ controllers/developer/supplier/search.php [L]

### RECEIVING ###
RewriteRule ^receiving$ controllers/developer/receiving/receiving.php [L]
RewriteRule ^receiving/([0-9]+)$ controllers/developer/receiving/receiving.php?receivingid=$1 [L]
RewriteRule ^receiving/active/([0-9]+)$ controllers/developer/receiving/active.php?receivingid=$1 [L]
RewriteRule ^receiving/page/([0-9]+)$ controllers/developer/receiving/page.php?start=$1 [L]
RewriteRule ^receiving/search$ controllers/developer/receiving/search.php [L]
RewriteRule ^receiving/read-all-supplier$ controllers/developer/receiving/read-all-supplier.php [L]
RewriteRule ^receiving/read-all-product$ controllers/developer/receiving/read-all-product.php [L]
RewriteRule ^receiving/read-all-unit$ controllers/developer/receiving/read-all-unit.php [L]
 
### RECEIVING SUPPLY ###
RewriteRule ^receiving-supply$ controllers/developer/receiving-supply/receiving-supply.php [L]
RewriteRule ^receiving-supply/([0-9]+)$ controllers/developer/receiving-supply/receiving-supply.php?receivingsupplyid=$1 [L] 
RewriteRule ^receiving-supply/read-new-receive$ controllers/developer/receiving-supply/read-new-receive.php [L]
RewriteRule ^receiving-supply/active/([0-9]+)$ controllers/developer/receiving-supply/active.php?receivingsupplyid=$1 [L]
RewriteRule ^receiving-supply/update-received-supply/([0-9]+)$ controllers/developer/receiving-supply/update-received-supply.php?receivingsupplyid=$1 [L]

### SETTING UNIT ###
RewriteRule ^settings-unit$ controllers/developer/settings/unit/unit.php [L]
RewriteRule ^settings-unit/([0-9]+)$ controllers/developer/settings/unit/unit.php?unitid=$1 [L]
RewriteRule ^settings-unit/active/([0-9]+)$ controllers/developer/settings/unit/active.php?unitid=$1 [L]


### SETTING ROLES ###
RewriteRule ^settings-role$ controllers/developer/settings/role/role.php [L]
RewriteRule ^settings-role/([0-9]+)$ controllers/developer/settings/role/role.php?roleid=$1 [L]
RewriteRule ^settings-role/active/([0-9]+)$ controllers/developer/settings/role/active.php?roleid=$1 [L]



### SETTINGS USERS DEVELOPER ###
RewriteRule ^settings-developer$ controllers/developer/settings/developer/developer.php [L]
RewriteRule ^settings-developer/([0-9]+)$ controllers/developer/settings/developer/developer.php?developerid=$1 [L]
RewriteRule ^settings-developer/page/([0-9]+)$ controllers/developer/settings/developer/page.php?start=$1 [L]
RewriteRule ^settings-developer/search$ controllers/developer/settings/developer/search.php [L]
RewriteRule ^settings-developer/active/([0-9]+)$ controllers/developer/settings/developer/active.php?developerid=$1 [L]
RewriteRule ^settings-developer/verify-email/(.*)$ controllers/developer/settings/developer/update-email.php?developerkey=$1 [L]
RewriteRule ^settings-developer/key/(.*)$ controllers/developer/settings/developer/key.php?developerkey=$1 [L]
RewriteRule ^settings-developer/password$ controllers/developer/settings/developer/set-password.php [L]
RewriteRule ^settings-developer/login$ controllers/developer/settings/developer/login.php [L]
RewriteRule ^settings-developer/token$ controllers/developer/settings/developer/token.php [L]
RewriteRule ^settings-developer/reset$ controllers/developer/settings/developer/reset-password.php [L]
RewriteRule ^settings-developer/role$ controllers/developer/settings/developer/role.php [L] 

### SETTINGS USERS SYSTEM ###
RewriteRule ^settings-user$ controllers/developer/settings/user/user.php [L]
RewriteRule ^settings-user/([0-9]+)$ controllers/developer/settings/user/user.php?userid=$1 [L]
RewriteRule ^settings-user/page/([0-9]+)$ controllers/developer/settings/user/page.php?start=$1 [L]
RewriteRule ^settings-user/search$ controllers/developer/settings/user/search.php [L]
RewriteRule ^settings-user/active/([0-9]+)$ controllers/developer/settings/user/active.php?userid=$1 [L]
RewriteRule ^settings-user/verify-email/(.*)$ controllers/developer/settings/user/update-email.php?userkey=$1 [L]
RewriteRule ^settings-user/key/(.*)$ controllers/developer/settings/user/key.php?userkey=$1 [L]
RewriteRule ^settings-user/password$ controllers/developer/settings/user/set-password.php [L]
RewriteRule ^settings-user/login$ controllers/developer/settings/user/login.php [L]
RewriteRule ^settings-user/token$ controllers/developer/settings/user/token.php [L]
RewriteRule ^settings-user/reset$ controllers/developer/settings/user/reset-password.php [L]
RewriteRule ^settings-user/role$ controllers/developer/settings/user/role.php [L] 




### DEFECTIVE SUPPLY ###
RewriteRule ^defective-product$ controllers/developer/defective-product/defective-product.php [L]
RewriteRule ^defective-product/([0-9]+)$ controllers/developer/defective-product/defective-product.php?defectiveproductid=$1 [L]
RewriteRule ^defective-product/active/([0-9]+)$ controllers/developer/defective-product/active.php?defectiveproductid=$1 [L]
RewriteRule ^defective-product/page/([0-9]+)$ controllers/developer/defective-product/page.php?start=$1 [L]
RewriteRule ^defective-product/search$ controllers/developer/defective-product/search.php [L]
   
### RETURN PRODUCT ###
RewriteRule ^return-product$ controllers/developer/return-product/return-product.php [L]
RewriteRule ^return-product/([0-9]+)$ controllers/developer/return-product/return-product.php?returnproductid=$1 [L]
RewriteRule ^return-product/active/([0-9]+)$ controllers/developer/return-product/active.php?returnproductid=$1 [L]
RewriteRule ^return-product/page/([0-9]+)$ controllers/developer/return-product/page.php?start=$1 [L]
RewriteRule ^return-product/search$ controllers/developer/return-product/search.php [L]
   
### RETURN PRODUCT ###
RewriteRule ^inventory$ controllers/developer/inventory/inventory.php [L]
RewriteRule ^inventory/([0-9]+)$ controllers/developer/inventory/inventory.php?inventoryid=$1 [L] 
RewriteRule ^inventory/page/([0-9]+)$ controllers/developer/inventory/page.php?start=$1 [L]
RewriteRule ^inventory/search$ controllers/developer/inventory/search.php [L]

### CUSTOMER ###
RewriteRule ^customer$ controllers/developer/customer/customer.php [L]
RewriteRule ^customer/([0-9]+)$ controllers/developer/customer/customer.php?customerid=$1 [L]
RewriteRule ^customer/active/([0-9]+)$ controllers/developer/customer/active.php?customerid=$1 [L]
RewriteRule ^customer/page/([0-9]+)$ controllers/developer/customer/page.php?start=$1 [L]
RewriteRule ^customer/search$ controllers/developer/customer/search.php [L]

### PRODUCT PRICE ###
RewriteRule ^product-price$ controllers/developer/product-price/product-price.php [L]
RewriteRule ^product-price/([0-9]+)$ controllers/developer/product-price/product-price.php?productpriceid=$1 [L] 
RewriteRule ^product-price/page/([0-9]+)$ controllers/developer/product-price/page.php?start=$1 [L]
RewriteRule ^product-price/search$ controllers/developer/product-price/search.php [L]
 
### MODAL SALES ### 
RewriteRule ^sales$ controllers/developer/sales/sales.php [L]  
RewriteRule ^sales/([0-9]+)$ controllers/developer/sales/sales.php?salesid=$1 [L]  
RewriteRule ^sales/page/([0-9]+)$ controllers/developer/sales/page.php?start=$1 [L]  
RewriteRule ^sales/search$ controllers/developer/sales/search.php [L]  
 
### MODAL SALES LIST ### 
RewriteRule ^sales-list$ controllers/developer/sale-list/sales-list.php [L]  
RewriteRule ^sales-list/([0-9]+)$ controllers/developer/sale-list/sales-list.php?saleslistid=$1 [L]  
RewriteRule ^sales-list/search$ controllers/developer/sale-list/active.php?saleslistid=$1 [L]  
RewriteRule ^sales-list/read-new-receive$ controllers/developer/sale-list/read-new-receive.php?saleslistid=$1 [L]  








### MODAL SEARCH ### 
RewriteRule ^search-product$ controllers/developer/search/search-product.php [L] 
RewriteRule ^search-product-price$ controllers/developer/search/search-product-price.php [L] 
RewriteRule ^search-customer$ controllers/developer/search/search-customer.php [L] 
RewriteRule ^search-supplier$ controllers/developer/search/search-supplier.php [L] 
RewriteRule ^search-product-dont-have-price$ controllers/developer/search/search-product-dont-have-price.php [L] 
 
